:root {
  /* colours */
  --beaver: #9e7f66;
  --codGray: #111111;
  --mirage: #17192b;
  --ebonyClay: #242b37;
  --darkGray: #4c4c4c;
  --shuttleGray: #5c6779;
  --white: #ffffff;

  /* type */
  --h1: 2em;
  --h2: 2em;
  --h3: 1.125em;
  --h4: 0.875em;
  --b1: 0.9375em;
  --b2: 0.9375em;
  --fs-btn: 0.875em;

  /* elevation  */
  --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --level-5: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  /* colour intentions */
  --primaryText: var(--mirage);
  --bgDark: var(--codGray);
}

@media (min-width: 600px) {
  :root {
    --h1: 3em;
    --h2: 2.5em;
    --h3: 1.125em;
    --h4: 0.875em;
    --b1: 1.125em;
    --b2: 0.9375em;
    --fs-btn: 0.875em;
  }
}

@media (min-width: 1200px) {
  :root {
    --h1: 4em;
    --h2: 2.5em;
    --h3: 1.125em;
    --h4: 0.875em;
    --b1: 1.125em;
    --b2: 0.9375em;
    --fs-btn: 0.875em;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Spartan", sans-serif;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.img-shadow {
  box-shadow: var(--level-5);
}

h1 {
  font-size: var(--h1);
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: -0.4px;
  margin: 0;
}

h2 {
  font-size: var(--h2);
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.4px;
  margin: 0;
}

h3 {
  font-size: var(--h3);
  font-weight: 700;
  line-height: 1.56;
  letter-spacing: -0.225px;
  margin: 0;
}

h4 {
  font-size: var(--h4);
  font-weight: 600;
  line-height: 2;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: 500px) {
  h1 {
    line-height: 1.33;
    letter-spacing: -0.6px;
    max-width: 500px;
  }
}

header {
  background-image: url("./images/homepage/hero-bg-mobile.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  color: var(--white);
  padding-top: 14.5rem;
  padding-bottom: 9.5em;
  /* fallback incase pic doesn't load */
  background-color: var(--bgDark);
}

@media (min-width: 600px) {
  header {
    background-image: url("./images/homepage/hero-bg-tablet.jpg");
    background-size: cover;
    padding-top: 23.5rem;
    padding-bottom: 9.5em;
  }
}

@media (min-width: 1200px) {
  header {
    background-image: url("./images/homepage/hero-bg-desktop.jpg");
  }
}

/* change background for hi-rez devices */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  header {
    background-image: url("./images/homepage/hero-bg-mobile@2x.jpg");
  }
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 600px),
  (min-resolution: 192dpi) and (min-width: 600px) {
  header {
    background-image: url("./images/homepage/hero-bg-tablet@2x.jpg");
  }
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px) {
  header {
    background-image: url("./images/homepage/hero-bg-desktop@2x.jpg");
  }
}

header h1 {
  margin-top: 2.15rem;
}

header .body-1 {
  margin-top: 1.5em;
}

footer {
  background-color: var(--bgDark);
  color: var(--white);
}

/* buttons */

button {
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--fs-btn);
  padding: 1.8em 3.75em 1.5em 3.75em;
  letter-spacing: 2px;
  line-height: 1.14;
  margin-top: 1.15em;
}

button:disabled {
  opacity: 0.25;
}

.btn-dark {
  color: var(--white);
  border: 1.5px solid var(--white);
  background-color: var(--bgDark);
}

.btn-dark:hover:enabled {
  background-color: var(--white);
  color: var(--bgDark);
  border: 1.5px solid var(--bgDark);
  cursor: pointer;
}

.btn-transparent {
  background: transparent;
}

.container {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .container {
    padding: 0 6.125rem;
  }
}

.logo {
  max-width: 5.15em;
}

@media (min-width: 600px) {
  .logo {
    max-width: 6.5em;
  }
}

.logo-footer {
  max-width: 6.5em;
}

.body-1 {
  font-size: var(--b1);
  line-height: 1.67;
  letter-spacing: -0.1875px;
  margin-top: 1em;
}

.body-2 {
  font-size: var(--b2);
  line-height: 1.86;
  letter-spacing: -0.19px;
  margin-top: 0.15em;
  margin-bottom: 1.5em;
  padding: 0 1em;
}

.pattern-divide {
  display: block;
  margin: 2.75em auto 0;
}

/* about section */

.about {
  margin-bottom: 4rem;
}

.about h2 {
  margin-top: 2.1rem;
}

.about-pic-1 {
  position: relative;
  margin-top: -4.5rem;
}

.about-pic-2 {
  margin-top: 4em;
}

/* menu highlight */
.menu-highlight {
  background: var(--bgDark);
  color: var(--white);
  padding-top: 1.75rem;
  padding-bottom: 2.95rem;
}

.menu-highlight h2 {
  margin-top: 2.1rem;
}

.menu-highlight h3 {
  margin-top: 1.85rem;
}

.menu-items {
  margin-top: 2rem;
}

.menu-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin-top: 1rem;
  margin-bottom: 1.6rem;
}

.menu-item:last-child {
  border-bottom: none;
}

/* events section */

.events {
  padding-top: 5rem;
  padding-bottom: 7.75rem;
}

.event-container h2 {
  margin-top: 0.65em;
}

.tablist {
  margin-top: 2.75rem;
  color: var(--darkGray);
}

.tablist h4 {
  margin-top: 1rem;
  opacity: 0.5;
  cursor: pointer;
}

.tablist h4:hover {
  opacity: 1;
}

.tablist h4[aria-selected="true"] {
  opacity: 1;
}

.tablist h4::after {
  display: block;
  content: "";
  width: 3rem;
  height: 1px;
  margin: 0 auto;
}

.tablist h4[aria-selected="true"]::after {
  background: var(--beaver);
}

/* event tabs */
.visible-tab {
  display: inherit;
}

.hidden-tab {
  display: none;
}

/* reservation section */
.reserve {
  background: var(--bgDark);
  color: var(--white);
  padding: 4.9rem 0;
  background-image: url("./images/homepage/ready-bg-mobile@2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.reserve h2 {
  margin-top: 0.15em;
}

.reserve button {
  margin-top: 1.35rem;
}

footer {
  padding-top: 5.15rem;
  padding-bottom: 5rem;
}

.address {
  margin-top: 2.55rem;
}

.hours {
  margin-top: 2rem;
}

.footer-text {
  font-size: var(--h4);
  font-weight: 500;
  line-height: 2;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}
